@model NetDexTest_01_MVC.Models.ViewModels.EntryItemVM

@{
    await Console.Out.WriteLineAsync("\n\n-----Entry Item Edit Reached!----------\n\n");

    ViewData["Title"] = "Edit Entry Item";
    var loggedInEmail = ViewData["LoggedInEmail"]?.ToString();
    var lastPerson = ViewData["LastPerson"]?.ToString();

    // @TempData["tRecordCollectorId"]"
    // @ViewData["entryId"]"

    //@ViewData["entryId"]"
    //@TempData["tRecordCollectorId"]"


}

@* <h4>EntryItemVM</h4>
<hr /> *@


<h4 id="entryHeading">EditEntryItemView</h4>
@* <h1>EditEntryItemView</h1> *@
<div id="emergencyLink">
    <a href="/dex/u/@ViewData["LoggedInEmail"]/p/@TempData["LastPerson"]/rec/list/ie">&lArr; Back to Entry List view</a>
</div>

<div type="hidden" id="fallbackInfo">
    <input type="hidden" id="recordCollectorId" value="@TempData["tRecordCollectorId"]" />
    <input type="hidden" id="entryItemId" value="@ViewData["entryId"]" />
    <input type="hidden" id="email" value="@ViewData["LoggedInEmail"]" />
    <input type="hidden" id="username" value="@TempData["tUsername"]" />
    <input type="hidden" id="lastPerson" value="@TempData["LastPerson"]" />

</div>

@TempData["tEmail"]
<h1> </h1>
@* @TempData["LastPerson"] *@
<hr />
<form id="editEntryForm">
    <input type="hidden" name="RecordCollectorId" id="_record" value="@TempData["tRecordCollectorId"]" />
    <input type="hidden" name="Id" id="_entry" value="@TempData["entryId"]" />

    <div class="form-group">
        <label for="ShortTitle">Short Title</label>
        <input type="text" class="form-control" id="_ShortTitle" name="ShortTitle" value="@TempData["oldTitle"]" />   @* value="@Model.ShortTitle" *@
        @* required *@
    </div>

    <div class="form-group">
        <label for="FlavorText">Flavor Text</label>
        <textarea class="form-control" id="_FlavorText" name="FlavorText" rows="5" value="@TempData["oldFlavor"]" required>@TempData["oldFlavor"]</textarea> @* @Model.FlavorText *@   @* value="@Model.ShortTitle" *@
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>

</form>
<div itemid="cancelButton">
    <a class="btn btn-secondary" href="/dex/u/@ViewData["LoggedInEmail"]/p/@TempData["LastPerson"]/rec/list/ie">
        Back to
        List
    </a>
</div>

<hr>

<form id="oldRecordCollection">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"  for="_oldShortTitle">Current Entry:</label>
        @* <p>Current Entry:</p> *@
        <input class="form-control" type="readonly" readonly name="ShortTitle" id="_oldShortTitle" value="@TempData["oldTitle"]" />
    </div>

    <div class="form-group">
        <input hidden type="readonly" readonly name="FlavorText" id="_oldFlavorTextDisplay"
            value="@TempData["oldFlavor"]" />
    </div>
    <div class="form-group row">
        <label for="ShortTitle" class="col-sm-2 col-form-label">Current Entry:</label>
        <textarea rows="10" class="form-control" type="readonly" readonly name="FlavorText" id="_oldFlavorTextDisplay">@TempData["oldFlavor"] </textarea>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        //await Html.RenderPartialAsync("_EditEntryItemView");
    }

    <script src="~/js/entryItemEdit.js" type="module" defer></script>
    <script type="text/javascript">
    </script>
}








@* <div class="row">
    <div class="col-md-4">
        <form asp-action="EditEntryItemView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortTitle" class="control-label"></label>
                <input asp-for="ShortTitle" class="form-control" />
                <span asp-validation-for="ShortTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlavorText" class="control-label"></label>
                <input asp-for="FlavorText" class="form-control" />
                <span asp-validation-for="FlavorText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogTimestamp" class="control-label"></label>
                <input asp-for="LogTimestamp" class="form-control" />
                <span asp-validation-for="LogTimestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordCollectorId" class="control-label"></label>
                <input asp-for="RecordCollectorId" class="form-control" />
                <span asp-validation-for="RecordCollectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@
