@model NetDexTest_01_MVC.Models.ViewModels.EntryItemDTO

@{
    ViewData["Title"] = "Entry Item Details";
}



<h1>GetEntryItemDetailedView</h1>

<input type="hidden" id="entryItemId" value="@ViewData["entryId"]" />
<input type="hidden" id="email" value="@ViewData["LoggedInEmail"]" />
<input type="hidden" id="lastPerson" value="@ViewData["LastPerson"]" />


<h2 id="title"></h2>
<p id="flavor"></p>
<p><small id="dateLogged"></small></p>


<div>
    <h4>EntryItemDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordCollectorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordCollectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DexHolderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DexHolderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonNickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavorText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavorText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogTimestamp)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script type="module" src="~/js/entryItemDetails.js"></script>
}