@model IEnumerable<NetDexTest_01_MVC.Models.ViewModels.SocialMediaDTO>
@{

    ViewData["Title"] = "Entry Items List";
    await Console.Out.WriteLineAsync("\n\n-----ListSocialMedias Reached!----------\n\n");
    var loggedInEmail = ViewData["LoggedInEmail"]?.ToString();
    var lastPerson = ViewData["LastPerson"]?.ToString();
}
<div type="hidden" id="fallbackInfo">
    <input type="hidden" id="contactInfoId" value="@TempData["ContactInfoId"]" /> @*@TempData["tContactInfoId"]*@
    <input type="hidden" id="socialMediaId" value="@ViewData["entryId"]" />
    <input type="hidden" id="email" value="@ViewData["LoggedInEmail"]" />
    <input type="hidden" id="username" value="@TempData["tUsername"]" />
    <input type="hidden" id="lastPerson" value="@TempData["LastPerson"]" />

</div>

<div id="emergencyLink">
    <a href="/dex/u/@TempData["tUsername"]/p/@lastPerson">&lArr; Back to Details view</Details></a>
</div>
@TempData["tEmail"]
<h1> </h1>
@* @TempData["LastPerson"] *@

@section Scripts {
    @{
        // include the partial view
        //
        // 5
        await Html.RenderPartialAsync("_ListSocialMediasView");
    }
    <script src="~/js/socialMediasList.js" type="module" defer></script>
    <script type="text/javascript">
    </script>
}
